<% provide(:title, "HOME") %>
<div class="container clearfix">
  <div class="row">
    <div class="col-md-3 col-12">
      <%= render partial: "card" %>
    </div>
    <div class="col-md-9 col-12">
      <div class="row h-100 text-center align-items-center mt-3 mb-4">
        <div class="col-6">
          <%= link_to posts_path, class: "plain" do %>
            <span class="material-icons md-60 grey">description</span><br>
            <h5>連絡帳</h5>
          <% end %>
        </div>
        <div class="col-6">
          <%= link_to bulletins_path, class: "plain" do %>
            <span class="material-icons md-60 yellow">lightbulb</span><br>
            <h5>お知らせ</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-12 d-none d-md-block">
    </div>
    <div class="col-md-9 col-12">
      <div class="row h-100 text-center align-items-center mt-3 mb-4">
        <div class="col-6">
          <%= link_to messages_path, class: "plain" do %>
            <span class="material-icons md-60 green">chat</span><br>
            <h5>トークルーム</h5>
          <% end %>
        </div>
        <div class="col-6">
          <%= link_to newsletters_path, class: "plain" do %>
            <span class="material-icons md-60 pink">local_post_office</span><br>
            <h5>園だより</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
